<div class="alert alert-success" role="alert">
    Website is very broken, this is the live version of what i'm working on. Feel free to join my <a href='discord.gg/kksqmuu' target="__blank">Discord</a> for updates! 
    <p> This is the currently working project on this <a href="https://project.skipptekk.com">LINK </a> if you wish to see it actually working.</p>
  </div>
  