<li class="disabled"><a href="#">Login</a></li>
<li class="disabled"><a href="#">Register</a></li>
<li class="disabled"><a href="#">Logout</a></li>
<li class="disabled"><a href="#">My Account</a></li>